.search_box {
  width: 100%;

  .search-box-collapse-box {
    display: flex;
    justify-content: flex-end;
  }
  .search-form {
    width: 100%;
  }

  .ant-form-item {
    margin-bottom: 12px;
  }

  .search-btn-container {
    flex-grow: 1;
    text-align: right;
  }

}