.item{  
    position: relative;
    padding:10px;
}
.item + .item{
    border-top: 1px solid #eee;
}
.item-l {
    width: 100px;
}

.item-img {
    width: 100%;
}

.item-name {
    font-size: 20px;
    color: #123;
}

.item-info {
    font-size: 14px;
    color: #aaa;
}
.item-del{
    position: absolute;
    top: 1em;
    right: 1em;
    width: 1.5em;
    height: 1.5em;
    line-height: 1.5em;
    /* padding: 1em; */
    border-radius: 50%;
    cursor: pointer;
    border: 1px solid #38a4ec;
    color: #38a4ec;
    text-align: center;
}