.ns-topo {

  .decision-new-node {
    position: absolute;
    height: 60px;
    width: 60px;
    line-height: 60px;
    text-align: center;
    background: rgba(255, 166, 0, 0.2);
    border-radius: 50%;
    border: 1px solid rgb(248, 250, 153);
    color: white;

    &.hub {
      border-radius: 0px;
    }

    .name-box {
      position: absolute;
      left: 0;
      bottom: -1.6em;
      width: 100%;
      line-height: 18px;
      font-size: 12px;
      color: #aaa;
      text-align: center;
    }
  }
}