.ns-topo {

  .butterflie-circle-endpoint {
    border-color: rgba(0, 0, 0, 0.35);
    color: rgba(0, 0, 0, 0.35);

    &:hover>.endpoint-text {
      opacity: 1;
      display: block;
    }
  }

  $point-text-padding: 6px;

  .endpoint-text {
    position: absolute;
    font-size: 12px;
    display: none;
  }

  .endpoint-text-left {
    left: $point-text-padding;
    transform: translateY(-50%);
  }

  .endpoint-text-right {
    right: $point-text-padding;
    transform: translateY(-50%);
  }

  .endpoint-text-top {
    top: $point-text-padding;
    transform: translateX(-50%);
  }

  .endpoint-text-bottom {
    bottom: $point-text-padding;
    transform: translateX(-50%);
  }
}