.ns-update {


  .decision-new-node {
    position: absolute;
    height: 60px;
    width: 60px;
    line-height: 60px;
    text-align: center;

    background-color: rgb(37, 233, 53);
    border-radius: 50%;
    border: 1px solid rgb(248, 250, 153);

    color: white;

    //  
    .name-box {
      display: block;
      height: 60px;
      line-height: 18px;
      font-size: 12px;
      text-align: center;
      color: #aaa;
    }
  }

}